@page
@model KE03_INTDEV_SE_1_Base.Pages.Orderhistory.IndexModel
@{
    ViewData["Title"] = "Bestelgeschiedenis";
}
<h1>Bestelgeschiedenis</h1>

@if (Model.Orders.Count == 0)
{
    <p>U heeft nog geen bestellingen geplaatst.</p>
}

else
{
    <p>Hieronder vindt u een overzicht van uw bestellingen:</p>
}
<table class="table">
    <thead>
        <tr>
            <th>Ordernummer</th>
            <th>Besteldatum</th>
            <th>Producten</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var o in Model.Orders)
    {
        <tr>
            <td>@o.Id</td>
            <td>@o.OrderDate.ToShortDateString()</td>
            <td>
                @foreach (var p in o.Products)
                {
                    <div>@p.Productnaam</div>
                }
            </td>
        </tr>
     }
	</tbody>
</table>