@page
@model KE03_INTDEV_SE_1_Base.Pages.Orderhistory.IndexModel
@{
    ViewData["Title"] = "Bestelgeschiedenis";
}
<table class="table">
    <thead>
        <tr>
            <th>Klant</th>
            <th>Aantal Orders</th>
        </tr>
    </thead>
    @foreach (var c in Model.Customers)
    {
        <tr>
            <td>@Html.DisplayName(c.Name)</td>
            <td>@Html.DisplayName(c.Orders.Count.ToString())</td>
        </tr>
    }
</table>